.sidebar {
  background-color: orange;
  grid-row: 1 / -1;
  grid-column: sidebar-start / sidebar-end;
  text-align: center;

  @media only screen and (max-width: $bp-large) {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    text-align: right;
  }
}

.menu {
  border: none;
  background: none;
  display: inline-block;
  margin-top: 1.5rem;
  padding: 2.1rem;
  position: sticky;
  top: 0rem;
  transition: background-color 0.3s, translate 0.1s;

  @media only screen and (max-width: $bp-large) {
    margin-top: 0rem;
  }

  &__icon {
    position: relative;
    margin-bottom: 0.2rem;
    &,
    &::before,
    &::after {
      content: "";
      display: inline-block;
      width: 3.75rem;
      height: 0.3rem;
      background-color: #fff;
    }

    &::before,
    &::after {
      position: absolute;
      left: 0;
    }

    &::before {
      top: -1rem;
    }

    &::after {
      top: 1rem;
    }
  }

  &:focus {
    outline: none;
  }
  &:active {
    transform: translateY(3px);
  }

  &:hover {
    background-color: rgba($color-secondary, 0.2);
  }
}
