*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Nunito", Sans-serif;
  color: #6d5d4b;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80vh min-content 40vw (min-content)[3];
      grid-template-rows: 80vh -webkit-min-content 40vw repeat(3, -webkit-min-content);
      grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  -ms-grid-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] ([col-start] minmax(min-content, 14rem) [col-end])[8] [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

@media only screen and (max-width: 62.5em) {
  .container {
    -ms-grid-rows: 6rem 80vh min-content 40vw (min-content)[3];
        grid-template-rows: 6rem 80vh -webkit-min-content 40vw repeat(3, -webkit-min-content);
        grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    -ms-grid-columns: [full-start] minmax(6rem, 1fr) [center-start] ([col-start] minmax(min-content, 14rem) [col-end])[8] [center-end] minmax(6rem, 1fr) [full-end];
        grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
        grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  }
}

@media only screen and (max-width: 50em) {
  .container {
    -ms-grid-rows: 6rem calc(100vh - 6rem) (min-content)[2] min-content 50vh (min-content)[3];
        grid-template-rows: 6rem calc(100vh - 6rem) repeat(2, -webkit-min-content) -webkit-min-content 50vh repeat(3, -webkit-min-content);
        grid-template-rows: 6rem calc(100vh - 6rem) repeat(2, min-content) min-content 50vh repeat(3, min-content);
  }
}

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1.3;
}

.heading-2 {
  font-size: 4rem;
  line-height: 1;
}

.heading-2--light {
  color: #f9f7f6;
}

.heading-2--dark {
  color: #6d5d4b;
}

.heading-3 {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #c69963;
}

.heading-4 {
  font-size: 1.8rem;
}

.heading-4--light {
  color: #f9f7f6;
  text-transform: capitalize;
}

.heading-4--dark {
  color: #6d5d4b;
}

.btn {
  display: inline-block;
  border: 0;
  outline: 0;
}

.btn__link:link, .btn__link:visited {
  display: block;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #f9f7f6;
  padding: 1.5rem 2.5rem;
  background-color: #c69963;
  border: 2px solid transparent;
  border-radius: 0.3rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn__link:link:focus, .btn__link:visited:focus {
  border: 2px solid #101d2c;
  border-radius: 0.3rem;
}

.btn__link:link:hover, .btn__link:visited:hover {
  background-color: #b28451;
}

.btn:focus, .btn:active {
  outline: 1px solid #fff;
  border: 0;
}

.homes {
  grid-column: center-start / center-end;
  margin: 8rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
}

.home {
  background-color: #f9f7f6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ()[2];
      grid-template-columns: repeat(2);
  grid-row-gap: 3rem;
}

.home__img {
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.home__like {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-column-align: end;
      justify-self: end;
  font-size: 2rem;
  color: #c69963;
  margin: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.home__like:hover {
  color: #b28451;
}

.home__name {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: capitalize;
  color: #f9f7f6;
  background-color: #101d2c;
  text-align: center;
  width: 80%;
  padding: 1rem 0;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.home__location, .home__room {
  margin-top: 2rem;
}

.home__location, .home__room, .home__area, .home__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4rem;
}

.home__location i, .home__room i, .home__area i, .home__price i {
  font-size: 2rem;
  color: #c69963;
  margin-right: 1rem;
}

.home__location p, .home__room p, .home__area p, .home__price p {
  font-size: 1.4rem;
  text-transform: capitalize;
}

.home__btn {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.header {
  grid-column: full-start / col-end 6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 29, 44, 0.9))), url(../assets/images/hero.jpeg);
  background-image: linear-gradient(rgba(16, 29, 44, 0.9)), url(../assets/images/hero.jpeg);
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr min-content minmax(6rem, min-content) 1fr;
      grid-template-rows: 1fr -webkit-min-content minmax(6rem, -webkit-min-content) 1fr;
      grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media only screen and (max-width: 50em) {
  .header {
    grid-column: full-start / full-end;
  }
}

@media only screen and (max-width: 37.5em) {
  .header {
    padding: 5rem;
  }
}

.header__logo {
  text-align: center;
}

.header__logo img {
  height: 4rem;
}

.header__btn {
  -ms-grid-column-align: start;
      justify-self: start;
  margin-top: 1rem;
}

.header__seen-on {
  font-size: 1.6rem;
  color: #aaa;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content 1fr;
      grid-template-columns: 1fr -webkit-max-content 1fr;
      grid-template-columns: 1fr max-content 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 1.5rem;
}

.header__seen-on::before, .header__seen-on::after {
  content: "";
  display: block;
  height: 1px;
  background-color: currentColor;
}

.header__brands {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__brands img {
  max-height: 2.5rem;
  max-width: 100%;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.sidebar {
  background-color: orange;
  grid-row: 1 / -1;
  grid-column: sidebar-start / sidebar-end;
  text-align: center;
}

@media only screen and (max-width: 62.5em) {
  .sidebar {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    text-align: right;
  }
}

.menu {
  border: none;
  background: none;
  display: inline-block;
  margin-top: 1.5rem;
  padding: 2.1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0rem;
  -webkit-transition: background-color 0.3s, translate 0.1s;
  transition: background-color 0.3s, translate 0.1s;
}

@media only screen and (max-width: 62.5em) {
  .menu {
    margin-top: 0rem;
  }
}

.menu__icon {
  position: relative;
  margin-bottom: 0.2rem;
}

.menu__icon, .menu__icon::before, .menu__icon::after {
  content: "";
  display: inline-block;
  width: 3.75rem;
  height: 0.3rem;
  background-color: #fff;
}

.menu__icon::before, .menu__icon::after {
  position: absolute;
  left: 0;
}

.menu__icon::before {
  top: -1rem;
}

.menu__icon::after {
  top: 1rem;
}

.menu:focus {
  outline: none;
}

.menu:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.menu:hover {
  background-color: rgba(16, 29, 44, 0.2);
}

.features {
  grid-column: center-start / center-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 8rem 0;
}

.feature {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content minmax(min-content, 1fr);
      grid-template-columns: -webkit-min-content minmax(-webkit-min-content, 1fr);
      grid-template-columns: min-content minmax(min-content, 1fr);
  -ms-flex-line-pack: start;
      align-content: start;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;
}

.feature__icon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  font-size: 3.5rem;
  color: #c69963;
  -webkit-transform: translateY(-0.6rem);
          transform: translateY(-0.6rem);
}

.feature__text {
  color: #54483a;
  font-size: 1.6rem;
}

.story__pictures {
  grid-column: full-start / col-end 4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(198, 153, 99, 0.5))), url(../assets/images/back.jpg);
  background-image: linear-gradient(rgba(198, 153, 99, 0.5)), url(../assets/images/back.jpg);
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

@media only screen and (max-width: 50em) {
  .story__pictures {
    grid-column: full-start / full-end;
  }
}

.story__img--1 {
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2 / 6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / 6;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 50em) {
  .story__img--1 {
    width: 90%;
  }
}

.story__img--2 {
  width: 110%;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / 6;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / 7;
  z-index: 10;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 50em) {
  .story__img--2 {
    -ms-grid-column-align: start;
        justify-self: start;
    width: 90%;
  }
}

.story__content {
  grid-column: col-start 5 / full-end;
  background-color: #f9f7f6;
  padding: 0 5vw;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: start;
  grid-row-gap: 2.5rem;
}

@media only screen and (max-width: 50em) {
  .story__content {
    grid-column: full-start / full-end;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
    padding: 5rem 5vw;
  }
}

.story__text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 2rem;
}

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end;
  padding: 3rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-row-gap: 3rem;
}

@media only screen and (max-width: 50em) {
  .realtors {
    grid-column: full-start / full-end;
  }
}

.realtors__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content max-content;
      grid-template-columns: -webkit-min-content -webkit-max-content;
      grid-template-columns: min-content max-content;
  grid-column-gap: 3rem;
  grid-row-gap: 5vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 50em) {
  .realtors__list {
    -ms-grid-columns: (min-content max-content)[3];
        grid-template-columns: repeat(3, -webkit-min-content -webkit-max-content);
        grid-template-columns: repeat(3, min-content max-content);
  }
}

@media only screen and (max-width: 37.5em) {
  .realtors__list {
    -ms-grid-columns: min-content max-content;
        grid-template-columns: -webkit-min-content -webkit-max-content;
        grid-template-columns: min-content max-content;
  }
}

.realtors__img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.realtors__sold-count {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #aaa;
}

.gallery {
  background-color: #f9f7f6;
  grid-column: full-start / full-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (5vw)[8];
      grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem;
  padding: 1.5rem;
}

.gallery__item--1 {
  grid-row: span 2;
  grid-column: span 2;
}

.gallery__item--2 {
  grid-row: span 3;
  grid-column: span 3;
}

.gallery__item--3 {
  grid-row: span 2;
  grid-column: span 1;
}

.gallery__item--4 {
  grid-row: span 2;
  grid-column: span 2;
}

.gallery__item--5 {
  grid-row: span 3;
  grid-column: span 2;
}

.gallery__item--6 {
  grid-row: span 2;
  grid-column: span 3;
}

.gallery__item--7 {
  grid-row: span 2;
  grid-column: span 2;
}

.gallery__item--8 {
  grid-row: span 2;
  grid-column: span 1;
}

.gallery__item--9 {
  grid-row: span 2;
  grid-column: span 1;
}

.gallery__item--10 {
  grid-row: span 4;
  grid-column: span 2;
}

.gallery__item--11 {
  grid-row: span 3;
  grid-column: span 3;
}

.gallery__item--12 {
  grid-row: span 3;
  grid-column: span 1;
}

.gallery__item--13 {
  grid-row: span 1;
  grid-column: span 1;
}

.gallery__item--14 {
  grid-row: span 2;
  grid-column: span 2;
}

.gallery__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end;
  padding: 8rem;
}

.nav {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 3rem;
}

.nav__link:link, .nav__link:visited {
  display: block;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  padding: 1.5rem;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nav__link:hover, .nav__link:active {
  background-color: rgba(170, 170, 170, 0.2);
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}

.copyright {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #aaa;
  text-align: center;
  padding-top: 5rem;
}

.copyright span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1.7rem;
}

.copyright:hover span {
  color: #c69963;
}
/*# sourceMappingURL=main.css.map */